<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="StartupFolders" type="Terminal.Configuration.StartupFoldersConfigSection, Terminal"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="Terminal.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	
	<appSettings>
		<add key="IFS" value=" "/>
		<add key="DllMethodName" value="Execute"/>
		<add key="UserColor" value="#41f271"/>
		<add key="CurrentFolderColor" value="#41b1f2"/>
		<add key="ErrorColor" value="#b01010"/>
		<add key="SuccessColor" value="#064e09"/>
		<add key="StandartColor" value="#ebe7df"/>
	</appSettings>
	
	<StartupFolders>
		<Folders>
			<add key="PluginsFolder" path="" />
			<add key="CurrentFolder" path="" />
			<add key="PreviousFolder" path="" />
		</Folders>
	</StartupFolders>
</configuration>